@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Krona+One&family=ZCOOL+XiaoWei&display=swap');

body {
  margin: 0;
  font-family: "Krona One", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  max-width: 1000px;
  position: relative;
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
