* {
  margin: 0;
}
.signup-button {
  height: 55px;
  width: 20vw;
  margin-top: 10px;
}
.signup-form{
  width: 22vw;
}
.signup-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signup-field{
  width: 20vw;
  margin-bottom: 10px;
}