.about-us-div{
    width:80%;
    display: flex;
    flex-direction:column;
    margin-top:50px;
}

.chestnut{
    display: flex;
    align-items: center;
    margin: 200px 0;
    -webkit-box-shadow: -6px 10px 8px -3px #777;
   -moz-box-shadow: -6px 10px 8px -3px #777;
    box-shadow: -6px 10px 8px -3px #777;
}

.jeri{
    display: flex;
    align-items:center;
    margin-bottom:150px;
    -webkit-box-shadow: 6px 10px 8px -3px #777;
    -moz-box-shadow: 6px 10px 8px -3px #777;
     box-shadow: 6px 10px 8px -3px #777;
}

.hunter{
    display: flex;
    align-items:center;
    margin-bottom:150px;
    -webkit-box-shadow: -6px 10px 8px -3px #777;
   -moz-box-shadow: -6px 10px 8px -3px #777;
    box-shadow: -6px 10px 8px -3px #777;
}

.pak{
    display: flex;
    align-items:center;
    margin-bottom:150px;
    -webkit-box-shadow: 6px 10px 8px -3px #777;
    -moz-box-shadow: 6px 10px 8px -3px #777;
     box-shadow: 6px 10px 8px -3px #777;
}

.zac,.dilts,.mott,.mike{
    height: 175px;
    width: auto;
    margin: 10px;
}

.about{
    font-size: 12px;
    margin: 0 10px;
}

.title-icons{
    display: flex;
    flex-direction: column;
}

.title{
    margin: 0 10px;
    grid-row-start: 1;
}

.icons{
    display: flex;
    margin-top:10px;
}

h6{
    margin-top:10px;
}