
.products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 90vw;
  margin-top: 50px;
}

.productCard {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 15vw;
  height: 260px;
  align-items: flex-start;
}

.card {
  align-self: center;
  margin: 0;
}

.card-imgURL {
  width: 150px;
  height: 250px;
  object-fit: cover;
  margin-top: 10px;
  justify-content: space-evenly;
}

.card-title {
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  height: 40px;
  justify-self: flex-end;
  margin-top:5px;
}