.product-detail{
  display: grid;
  grid-template-columns: repeat(3 auto);
  position: relative;
  top: 10rem;
  width: 100vw;
  justify-content: center;
}

.image-div{
  width: 450px;
  height: 500px;
  display: flex;
  justify-content: center;
}

.product-detail-image{
  height:500px;
  width:350px;
  object-fit: cover;
  grid-column-start:1;
}

.detail{
  grid-column-start: 2;
  height: 500px;
  display: flex;
  flex-direction: column;
}

.title{
grid-row-start: 1;
font-size: 20px;
}

.detail-price{
  grid-row-start: 2;
}

.description{
grid-row-start:3;
height: 200px;
font-size: 14px;
}

.button-div{
  grid-column-start: 1;
  grid-row-start:2;
  text-align: center;
  margin-top:10px;
  display:flex;
  justify-content: space-evenly;
}

.edit-button-detail{
  grid-row-start:3;
  grid-column-start: 2;
  justify-items: flex-end;
}

.delete-button{
  grid-row-start:3;
  grid-column-start: 3;
}


.MuiButton-label{
  color:white;
}