.product-detail-div {
  margin-top: 175px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  height: 1200px;
  width: 100vw;
}

.image-div {
  margin: 0 25px;
  height: 300px;
}

.product-detail-image {
  height: 500px;
  width: 350px;
  object-fit: cover;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 300px;
  margin: 0 25px;
}

.product-title {
  font-size: 26px;
  margin: 0 0;
}

.price {
  margin: 25px 0 5px 0;
}

.detail-price {
  margin: 0;
}

.description-title {
  margin: 25px 0 10px 0;
}

.description {
  font-size: 14px;
}

.button-div {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 300px;
  margin: 20px 0;
}

.MuiButton-label {
  color: white;
}
