.footer {
width: 100vw;
height:3.5rem;
position: fixed;
bottom:0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: #ecce83;
}

.footer-contact-area {
  display: flex;
  flex-direction: row;
}

.aboutUs {
    grid-column-start: 1;
    margin: 5px;
    color: black;
  }
  
  .contactUs {
    grid-column-start: 2;
    margin: 5px;
  }

.icon-area {
  display: flex;
  flex-direction: row;
}

.insta_icon{
    margin-right: 10px;
}