.product-edit-div{
  margin:175px 0 100px 0;
  display:flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
}

.product-edit {
  margin: 0 25px 0 25px;
}

.image-container {
  width: 350px;
  height: 500px;
  margin: 0 25px 0 25px;
}

.edit-product-image {
  height: 500px;
  width: 350px;
  object-fit: cover;
}

.div:h4{
  margin:0;
  width:200px;
}

.editdiv{
  margin: 15px 25px 0 50px;
  width: 300px;
  }


.save-button {
  width: 150px;
  text-align: center;
}

a{
  text-decoration: none;
  color: black;
}

.MuiInputBase-root{
  width:300px;
  margin-top:10px;
}