.login-div {
  margin-top:175px;
  display:flex;
  flex-flow: wrap;
  justify-content: center;
}

.login-text{
  margin: 0 25px 0 25px;
}

.login-header{
  font-size: 24px;
}

.signup-header{
grid-row-start:2;
text-decoration: none;
font-size: 14px;
color:  #424242;
}

.login-link{
text-decoration: none;
color:#f50057;
font-size:14px;
}

.login-form-div{
margin: 25px 10px 0 10px;
}

.login-form{
  display:flex;
  flex-direction: column;

}

.login-button {
  height: 55px;
  width: 250px;
  margin-top: 10px;
}

.MuiInputBase-root{
  margin-bottom: 10px;
}