@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");

.logo-div {
    top: 100px;
    height:75px;
    width: 30vw;
    position:absolute;
    z-index: 2;
    font-family: "Krona One", sans-serif;
  }
  
  .logo {
    font-size: 35px;
    text-decoration: none;
    color: black;
    margin-left: 15px;
    position: sticky;
  }