.CU-div {
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.CU-form {
  display: flex;
  flex-direction: column;
}

.textfield{
  width: auto;
}