@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");

nav {
  display: grid;
  grid-row: repeat(3 auto);
  font-family: "Krona One", sans-serif;
}

.header {
  height: 4rem;
  width: 100vw;
  background-color: #5f7470;
}

.logo-div {
  margin-top: 20px;
  width: 25vw;
  grid-column-start: 1;
  z-index: 1;
}

.logo {
  font-size: 35px;
  text-decoration: none;
  color: black;
  justify-content: flex-start;
  margin-left: 15px;
}

.usernav {
  width: 100vw;
  display: grid;
  grid-row: repeat(2 auto);
}

.user {
  font-size: 12px;
  text-decoration: none;
  color: black;
  padding-top: 10px;
  grid-column-start: 5;
  grid-row-start: 1;
  text-align: center;
}

.navmenu{
  grid-row-start:2;
  grid-column-start:5;
  margin-top: 5px;
  margin-right: 15px;
  text-align: right;
}
.navprod {
  font-size: 14px;
  text-decoration: none;
  color: black;
  grid-row-start: 2;
  grid-column-start: 3;
  margin: 10px;
}

.navadd {
  font-size: 14px;
  text-decoration: none;
  color: black;
  grid-row-start: 2;
  grid-column-start: 4;
  margin: 10px;
}

.navlogin {
  font-size: 14px;
  text-decoration: none;
  color: black;
  grid-row-start: 2;
  grid-column-start: 3;
  margin: 10px;
}

.navsignup {
  font-size: 14px;
  text-decoration: none;
  color: black;
  grid-row-start: 2;
  grid-column-start: 4;
  margin: 10px;
}

.navsignout {
  font-size: 14px;
  text-decoration: none;
  color: black;
  grid-row-start: 2;
  grid-column-start: 5;
  margin: 10px;
}
