.home-image{
    position: fixed;
    top:4rem;
    left: 0;
    width: 100vw;
    height: 380px;
    object-fit: cover;
    opacity: 50%;
    z-index: 0;
}

.product-row{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    z-index:1;
    top: 450px;
    background: white;
}

.mushroomIMG{
    height: 400px;
    width: 300px;
    object-fit: cover;
    margin:10px;
}

.microgreenIMG {
    height: 400px;
    width: 300px;
    object-fit: cover;
    margin: 10px;
}

.allIMG {
    height: 400px;
    width: 300px;
    object-fit: cover;
    margin: 10px;
}

.collection-title{
    font-size:16px;
    text-align: center;
}





.content{
    position: relative;
    top: 500px;
    background-color: white;
}



/* ---------------------------------- parallax ---------------------------------- */
body, html {
    height: 100%;
  }
  
  .parallax {
    /* The image used */
    background-image: url("https://images.unsplash.com/photo-1559825481-12a05cc00344?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHw%3D&w=1000&q=80");
  
    /* Full height */
    height: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat; /* no-repeat */
    background-size: cover;
  }