.home-image{
    position: fixed;
    top:4rem;
    left: 0;
    width: 100vw;
    height: 350px;
    object-fit: cover;
    opacity: 50%;
    z-index: 0;
}

.product-row{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    z-index:1;
    top: 450px;
}

.mushroomIMG{
    height: 400px;
    width: 300px;
    object-fit: cover;
    margin:10px;
}

.microgreenIMG {
    height: 400px;
    width: 300px;
    object-fit: cover;
    margin: 10px;
}

.allIMG {
    height: 400px;
    width: 300px;
    object-fit: cover;
    margin: 10px;
}

.collection-title{
    font-size:16px;
    text-align: center;
}