.home-image{
    position: absolute;
    top:4rem;
    left: 0;
    width: 100vw;
    height: 40vw;
    object-fit: cover;
    opacity: 50%;
    z-index: 0;
}

.product-row{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    position: relative;
    top: 30vh;
}

.topIMG{
    height: 300px;
    width: 200px;
    object-fit: cover;
}

.allIMG {
    height: 300px;
    width: 200px;
    object-fit: cover;
}

.featuredIMG {
    height: 300px;
    width: 200px;
    object-fit: cover;
}