.nav {
  width: 100vw;
  height: 100px;
  display: flex;
}

.header {
  height: 40px;
  width: 100vw;
  background-color: #889696;
}

.logo {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 35px;
  text-decoration: none;
  color: black;
  justify-content: flex-start;
}

.link {
  flex: 2;
  align-items: center;
  display: flex;
  font-size: 14px;
  text-decoration: none;
  color: black;
  padding: 10px;
  margin-right: 25px;
}

.search {
  font-size: 14px;
  padding: 10px;
  display: flex;
  margin-right: 10px;
}
